.fitnesses{
    display:grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
}
.fitness{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;
}
.workout{
    width: 80%;
    
    padding-left: 100px;
}

.workout-calculation{
    background-color: rgb(86, 83, 83);
    position: sticky;
    top: 0;
}