.fitnesses{
    display:grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
}
.fitness{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;
}
.workout{
    width: 80%;
    padding-top: 100px;
    padding-left: 100px;
    
}
.select-title{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 24px;
}
.workout-calculation{
    background-color: rgb(238, 234, 234);
    position: sticky;
    top: 0;
}


@media screen and (max-device-width: 480px)
{

    .workout{
        width: 100%;
        padding-left: 0;
    }

    .fitnesses{
        display:grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    .fitness{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}
