.workouts{
    border: 1px solid gray;
}
.workout-img{
    width: 300px;
    height: 300px;
}
.workout-name{
    font-size:25px;
}
.btn-workout{
width: 300px;
color: white;
background-color:rgb(187, 9, 175);
border: none;
border-radius: 5px;
padding: 10px 0;
font-size: 20px;
}


@media screen and (max-device-width: 480px)
 {

    .workout-img{
        width: 100%;

    }
    .btn-workout{
        width: 150px;
    }
}

