
.address{
    display:flex;
    align-items: center;
    
    
}
.address-img{
    width: 20%;
    border-radius: 30%;
}
.image{
    text-align: left;
}
.info{
    text-align: left;
    
}
.body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightblue;
    border-radius: 10px;
}


.exerciseDetails{
    position:sticky;
    top:0;
}



.breaktime{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: gray;
}
.time{
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}